name: Robot Framework Selenium CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  robot-tests:
    runs-on: ubuntu-latest

    steps:
      # Checkout code
      - name: Checkout repository
        uses: actions/checkout@v4

      # Set up Docker
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      # Build Docker image
      - name: Build Docker image
        run: |
          docker build -t robot-google-headless .

      # Run Robot Framework tests
      - name: Run Robot Framework tests
        run: |
          docker run --rm \
            -v ${{ github.workspace }}/reports:/robot/reports \
            robot-google-headless

      # Upload test reports
      - name: Upload Robot Framework Reports
        uses: actions/upload-artifact@v4
        with:
          name: robot-test-reports
          path: reports
