name: Robot Framework Selenium CI/CD

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  robot-tests:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build Docker image
        run: |
          docker build -t govinda520/robot-google-headless:v1.0 .

      - name: Run Robot Framework tests (allow <4 failures)
        run: |
          docker run --rm \
            -v ${{ github.workspace }}/reports:/robot/reports \
            govinda520/robot-google-headless:v1.0 \
            || [ $? -le 4 ]

      # Runs ONLY if above step is acceptable
      - name: Push image to Docker Hub
        if: success()
        run: |
          docker push govinda520/robot-google-headless:v1.0

      - name: Upload Robot Reports
        if: always()
        uses: actions/upload-artifact@v4
        with:
          name: robot-test-reports
          path: reports
